<!-- ===== MAIN CONTENT ===== -->
<!-- Slick Carousel -->
<app-slick-carousel></app-slick-carousel>
<!-- End Slick Carousel -->

<!-- Brand services -->
<app-brand-services></app-brand-services>
<!--End Brand services -->

<!-- Deals with product tab -->
<app-deals-with-product-tab></app-deals-with-product-tab>
<!-- End Deals with product tab -->

<!-- Bestselling Books -->
<app-bestselling-books></app-bestselling-books>
<!-- End Bestselling -->

<!-- Sidebar With Product -->
<app-sidebar-with-product></app-sidebar-with-product>
<!-- End Sidebar With Product -->

<!-- Science Fiction Books -->
<app-science-fiction-books></app-science-fiction-books>
<!-- End Science Fiction Books -->

<!-- ===== END MAIN CONTENT ==== -->