<section>
    <div class="bg-gray-200 space-top-2 space-bottom-3 space-top-lg-3 space-bottom-lg-4">
        <div class="container">
            <header class="mb-5 d-md-flex justify-content-between align-items-center">
                <h2 class="font-size-7 mb-3 mb-md-0">{{'scienceFictionBooks' | translate}}</h2>
                <a href="../shop/v5.html" class="h-primary d-block">{{'viewAll' | translate}} <i
                        class="glyph-icon flaticon-next"></i></a>
            </header>

            <div>
                 <div class="col-lg-8 col-xl-9">
                    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-3 row-cols-wd-4 products">
                        <div class="col mb-5" *ngFor="let s of scienceFictionBooks">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block">
                                                <img src={{s.imgUrl}}
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description">
                                            </a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">{{s.publisher}}</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">{{s.title}}</a>
                                            </h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">
                                                    {{s.author.name}} {{s.author.lastname}}
                                                </a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">{{s.price.currency}}</span>{{s.price.value}}</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">{{'addToCart' | translate}}</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>