<section class="left-sidebar">
  <div class="page-header border-bottom mb-8">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center py-4">
        <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg">Shop</h1>
        <nav class="woocommerce-breadcrumb font-size-2">
          <a href="../home/index.html" class="h-primary">Home</a>
          <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
          <a href="../shop/v4.html" class="h-primary">Electronics</a>
          <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
          <a href="../shop/v4.html" class="h-primary">Cameras</a>
          <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>Build Your DSLR
        </nav>
      </div>
    </div>
  </div>
  <div class="site-content space-bottom-3" id="content">
    <div class="container">
      <div class="row">
        <div id="primary" class="content-area order-2">
          <div class="bg-img-hero img-fluid mb-6" style="background-image: url(../../assets/img/1920x600/img1.jpg);">
            <div class="px-3 px-lg-10 py-3 py-lg-5 pt-xl-7">
              <div data-pagi-classes="text-center mb-0 mt-3 mt-lg-5" data-arrows-classes="d-none d-lg-block">
                <div>
                  <div class="row mx-3">
                    <div class="col-lg-7 col-wd-6">
                      <div class="media d-block d-lg-flex">
                        <div class="media-body align-self-center mb-4 mb-lg-0">
                          <p class="banner__pretitle text-uppercase text-gray-400 font-weight-bold mb-2">THE BOOKWORM EDITORS’</p>
                          <h2 class="font-size-10 mb-3 pb-1">
                            <span class="hero__title-line-1 font-weight-regular d-block">Featured Books of the</span>
                            <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                          </h2>
                          <a href="../shop/v2.html" class="banner_btn btn btn-wide btn-primary rounded-0 text-white">Shop Now</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5 col-wd-6">
                      <img src="https://placehold.it/350x296" class="img-fluid" alt="image-description">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="shop-control-bar d-lg-flex justify-content-between align-items-center mb-5 text-center text-md-left">
            <div class="shop-control-bar__left mb-4 m-lg-0">
              <p class="woocommerce-result-count m-0">Showing 1–12 of 126 results</p>
            </div>
            <div class="shop-control-bar__right d-md-flex align-items-center">
              <form class="woocommerce-ordering mb-4 m-md-0" method="get">
                <!-- Select -->
                <select class="js-select selectpicker dropdown-select orderby" name="orderby"
                  data-style="border-bottom shadow-none outline-none py-2">
                  <option value="popularity">Sort by popularity</option>
                  <option value="default" selected="selected">Default sorting</option>
                  <option value="date">Sort by newness</option>
                  <option value="price">Sort by price: low to high</option>
                  <option value="price-desc">Sort by price: high to low</option>
                </select>
                <!-- End Select -->
              </form>

              <form class="number-of-items ml-md-4 mb-4 m-md-0 d-none d-xl-block" method="get">
                <!-- Select -->
                <select class="js-select selectpicker dropdown-select orderby" name="orderby"
                  data-style="border-bottom shadow-none outline-none py-2"
                  data-width="fit">
                  <option value="show10">Show 10</option>
                  <option value="show15">Show 15</option>
                  <option value="show20" selected="selected">Show 20</option>
                  <option value="show25">Show 25</option>
                  <option value="show30">Show 30</option>
                </select>
                <!-- End Select -->
              </form>

              <ul class="nav nav-tab ml-lg-4 justify-content-center justify-content-md-start ml-md-auto" id="pills-tab" role="tablist">
                <li class="nav-item border">
                  <a class="nav-link p-0 height-38 width-38 justify-content-center d-flex align-items-center active" id="pills-one-example1-tab" data-toggle="pill" href="#pills-one-example1" role="tab" aria-controls="pills-one-example1" aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="17px">
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M-0.000,0.000 L3.000,0.000 L3.000,3.000 L-0.000,3.000 L-0.000,0.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M7.000,0.000 L10.000,0.000 L10.000,3.000 L7.000,3.000 L7.000,0.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M14.000,0.000 L17.000,0.000 L17.000,3.000 L14.000,3.000 L14.000,0.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M-0.000,7.000 L3.000,7.000 L3.000,10.000 L-0.000,10.000 L-0.000,7.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M7.000,7.000 L10.000,7.000 L10.000,10.000 L7.000,10.000 L7.000,7.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M14.000,7.000 L17.000,7.000 L17.000,10.000 L14.000,10.000 L14.000,7.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M-0.000,14.000 L3.000,14.000 L3.000,17.000 L-0.000,17.000 L-0.000,14.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M7.000,14.000 L10.000,14.000 L10.000,17.000 L7.000,17.000 L7.000,14.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M14.000,14.000 L17.000,14.000 L17.000,17.000 L14.000,17.000 L14.000,14.000 Z" />
                    </svg>
                  </a>
                </li>
                <li class="nav-item border">
                  <a class="nav-link p-0 height-38 width-38 justify-content-center d-flex align-items-center" id="pills-two-example1-tab" data-toggle="pill" href="#pills-two-example1" role="tab" aria-controls="pills-two-example1" aria-selected="false">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="17px">
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M-0.000,0.000 L3.000,0.000 L3.000,3.000 L-0.000,3.000 L-0.000,0.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M7.000,0.000 L23.000,0.000 L23.000,3.000 L7.000,3.000 L7.000,0.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M-0.000,7.000 L3.000,7.000 L3.000,10.000 L-0.000,10.000 L-0.000,7.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M7.000,7.000 L23.000,7.000 L23.000,10.000 L7.000,10.000 L7.000,7.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M-0.000,14.000 L3.000,14.000 L3.000,17.000 L-0.000,17.000 L-0.000,14.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)" d="M7.000,14.000 L23.000,14.000 L23.000,17.000 L7.000,17.000 L7.000,14.000 Z" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>


          <!-- Tab Content -->
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab">
              <!-- Mockup Block -->
              <ul class="products list-unstyled row no-gutters row-cols-2 row-cols-lg-3 row-cols-wd-4 border-top border-left mb-6">
                @for (b of shopListBooks.books; track b) {
                  <li class="product col">
                    <div class="product__inner overflow-hidden p-3 p-md-4d875">
                      <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                        <div class="woocommerce-loop-product__thumbnail">
                          <a href="single-product/{{b.id}}"  class="d-block">
                            <img src={{b.imgUrl}} class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description">
                          </a>
                        </div>
                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                          <div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v2.html">{{b.publisher}}</a></div>
                          <h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                            <a href="single-product/{{b.id}}" >{{b.title}}</a
                            ></h2>
                          <div class="font-size-2  mb-1 text-truncate"><a href="../others/authors-single.html" class="text-gray-700">{{b.author.name}} {{b.author.lastname}}</a></div>
                          @if(b.price.currency === '$'){
                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                              <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">{{b.price.currency}}</span>{{b.price.value| currency:'':'':'1.2-2'}}</span>
                            </div>
                          }
                          @else {
                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                              <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">{{b.price.currency}}</span>{{b.price.value| trCurrency}}</span>
                            </div>
                          }
                          
                        </div>
                        <div class="product__hover d-flex align-items-center">
                          <a href="../shop/single-product-v2.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto" data-toggle="tooltip" data-placement="right" title="" data-original-title="ADD TO CART">
                            <span class="product__add-to-cart">{{'addToCart' | translate}}</span>
                            <span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
                          </a>
                          <a href="../shop/single-product-v2.html" class="mr-1 h-p-bg btn btn-outline-primary border-0">
                            <i class="flaticon-switch"></i>
                          </a>
                          <a href="../shop/single-product-v2.html" class="h-p-bg btn btn-outline-primary border-0">
                            <i class="flaticon-heart"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                }

              </ul>
              <!-- End Mockup Block -->
            </div>
            <div class="tab-pane fade" id="pills-two-example1" role="tabpanel" aria-labelledby="pills-two-example1-tab">
              <!-- Mockup Block -->
              <ul class="products list-unstyled mb-6">
                @for (b of shopListBooks.books; track b) {
                  <li class="product product__list">
                    <div class="product__inner overflow-hidden p-3 p-md-4d875">
                      <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link row position-relative">
                        <div class="col-md-auto woocommerce-loop-product__thumbnail mb-3 mb-md-0">
                          <a href="../shop/single-product-v2.html" class="d-block">
                            <img src= {{b.imgUrl}} class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description" style="height: 170px;"></a>
                          </div>
                          <div class="col-md woocommerce-loop-product__body product__body pt-3 bg-white mb-3 mb-md-0">
                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v2.html">{{b.publisher}}</a></div>
                            <h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 crop-text-2 h-dark"><a href="../shop/single-product-v2.html" tabindex="0">{{b.title}}</a></h2>
                            <div class="font-size-2  mb-2 text-truncate"><a href="../others/authors-single.html" class="text-gray-700">{{b.author.name}} {{b.author.lastname}}</a></div>
                            <p class="font-size-2 mb-2 crop-text-2">{{selectedLang.userSelectedLanguage === 'en' ? b.descriptionEn : b.descriptionTr}}</p>
                            @if(b.price.currency === '$'){
                              <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">{{b.price.currency}}</span>{{b.price.value | currency:'':'':'1.2-2'}}</span>
                              </div>
                            }
                            @else{
                              <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">{{b.price.currency}}</span>{{b.price.value | currency:'':'':'1.2-2'}}</span>
                              </div>
                            }
                          </div>
                          <div class="col-md-auto d-flex align-items-center">
                            <a href="../shop/single-product-v2.html" class="text-uppercase text-dark h-dark font-weight-medium mr-4" data-toggle="tooltip" data-placement="right" title="" data-original-title="ADD TO CART">
                              <span class="product__add-to-cart">ADD TO CART</span>
                              <span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
                            </a>
                            <a href="../shop/single-product-v2.html" class="mr-1 h-p-bg btn btn-outline-primary border-0">
                              <i class="flaticon-switch"></i>
                            </a>
                            <a href="../shop/single-product-v2.html" class="h-p-bg btn btn-outline-primary border-0">
                              <i class="flaticon-heart"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  }
                </ul>
                <!-- End Mockup Block -->
              </div>
            </div>
            <!-- End Tab Content -->


            <nav aria-label="Page navigation example">
              <ul class="pagination pagination__custom justify-content-md-center flex-nowrap flex-md-wrap overflow-auto overflow-md-visble">
                <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">1</a></li>
                <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">2</a></li>
                <li class="flex-shrink-0 flex-md-shrink-1 page-item active" aria-current="page"><a class="page-link" href="#">3</a></li>
                <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">4</a></li>
                <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">5</a></li>
                <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
          <div id="secondary" class="sidebar widget-area order-1" role="complementary">
            <div id="widgetAccordion">
              <!-- Categories -->
              <div id="woocommerce_product_categories-2" class="widget p-4d875 border woocommerce widget_product_categories">
                <div id="widgetHeadingOne" class="widget-head">
                  <a class="d-flex align-items-center justify-content-between text-dark" href="#"
                    data-toggle="collapse"
                    data-target="#widgetCollapseOne"
                    aria-expanded="true"
                    aria-controls="widgetCollapseOne">

                    <h3 class="widget-title mb-0 font-weight-medium font-size-3">Categories</h3>

                    <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                      <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                    </svg>

                    <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                      <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                    </svg>
                  </a>
                </div>

                <div id="widgetCollapseOne" class="mt-3 widget-content collapse show"
                  aria-labelledby="widgetHeadingOne"
                  data-parent="#widgetAccordion">
                  <ul class="product-categories">
                    <li class="cat-item cat-item-9 cat-parent">
                      <a [ngClass]="shopListBooks.request.categoryId === null ? 'myActive' : ''" (click)="shopListBooks.changeCategory(null)" >
                        {{'allCategories' | translate}}
                      </a>
                    </li>
                    @for (c of shopListBooks.category; track c) {
                      <li class="cat-item cat-item-9 cat-parent">
                        <a (click)="shopListBooks.changeCategory(c.id)">
                        {{selectedLang.userSelectedLanguage === 'en' ? c.nameEn : c.nameTr}}</a>
                      </li>
                    }
                  </ul>
                </div>
              </div>

              <!-- Authors -->
              <div id="Authors" class="widget widget_search widget_author p-4d875 border">
                <div id="widgetHeading21" class="widget-head">
                  <a class="d-flex align-items-center justify-content-between text-dark" href="#"
                    data-toggle="collapse"
                    data-target="#widgetCollapse21"
                    aria-expanded="true"
                    aria-controls="widgetCollapse21">

                    <h3 class="widget-title mb-0 font-weight-medium font-size-3">Author</h3>

                    <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                      <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                    </svg>

                    <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                      <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                    </svg>
                  </a>
                </div>

                <div id="widgetCollapse21" class="mt-4 widget-content collapse show"
                  aria-labelledby="widgetHeading21"
                  data-parent="#widgetAccordion">
                  <form class="form-inline my-2 overflow-hidden">
                    <div class="input-group flex-nowrap w-100">
                      <div class="input-group-prepend">
                        <i class="glph-icon flaticon-loupe py-2d75 bg-white-100 border-white-100 text-dark pl-3 pr-0 rounded-0"></i>
                      </div>
                      <input (keyup)="shopListBooks.getAllAuthors()"  name="searchAuthor" autocomplete="off" class="form-control bg-white-100 py-2d75 height-4 border-white-100 rounded-0" type="text" placeholder="Search" aria-label="Search">
                    </div>
                    <button class="btn btn-outline-success my-2 my-sm-0 sr-only" type="submit">Search</button>
                  </form>
                  <ul class="product-categories">
                    <li class="cat-item cat-item-9 cat-parent">
                      <a [ngClass]="shopListBooks.request.authorId === null ? 'myActive' : ''" (click)="shopListBooks.changeAuthor(null)">
                        {{'allAuthor' | translate}}
                      </a>
                    </li>
                    @for (a of shopListBooks.author; track a) {
                      <li class="cat-item cat-item-9 cat-parent">
                        <a (click)="shopListBooks.changeAuthor(a.id)">
                          {{a.name}} {{a.lastname}}
                        </a>
                      </li>
                    }
                  </ul>
                </div>
              </div>

              <!-- Language -->
              <div id="Language" class="widget p-4d875 border">
                <div id="widgetHeading22" class="widget-head">
                  <a class="d-flex align-items-center justify-content-between text-dark" href="#"
                    data-toggle="collapse"
                    data-target="#widgetCollapse22"
                    aria-expanded="true"
                    aria-controls="widgetCollapse22">

                    <h3 class="widget-title mb-0 font-weight-medium font-size-3">Language</h3>

                    <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                      <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                    </svg>

                    <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                      <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                    </svg>
                  </a>
                </div>

                <div id="widgetCollapse22" class="mt-4 widget-content collapse show"
                  aria-labelledby="widgetHeading22"
                  data-parent="#widgetAccordion">
                  <ul class="product-categories">
                    <li class="cat-item cat-item-9 cat-parent">
                      <a [ngClass]="shopListBooks.request.languageId === null ? 'myActive' : ''">
                        <!-- (click)="shopListBooks.changeLanguage(null)" -->
                        {{'allLanguage' | translate}}
                      </a>
                    </li>
                    <!-- <li class="cat-item cat-item-9 cat-parent" *ngFor="let l of shopListBooks.bookDetails">
                    <a (click)="shopListBooks.changeLanguage(l.languageId)">
                      {{selectLang.userSelectedLanguage === 'en' ? l.languageEn : l.languageTr}}
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>

            <div id="Review" class="widget p-4d875 border">
              <div id="widgetHeading24" class="widget-head">
                <a class="d-flex align-items-center justify-content-between text-dark" href="#"
                  data-toggle="collapse"
                  data-target="#widgetCollapse24"
                  aria-expanded="true"
                  aria-controls="widgetCollapse24">

                  <h3 class="widget-title mb-0 font-weight-medium font-size-3">By Review</h3>

                  <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                  </svg>

                  <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                  </svg>
                </a>
              </div>

              <div id="widgetCollapse24" class="mt-4 widget-content collapse show"
                aria-labelledby="widgetHeading24"
                data-parent="#widgetAccordion">
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-2 pb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rating5">
                    <label class="custom-control-label" for="rating5">
                      <span class="d-block text-yellow-darker mt-plus-3">
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="fas fa-star font-size-2 "></span>
                      </span>
                    </label>
                  </div>
                  <small class="font-size-2 text-gray-600">24</small>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-2 pb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rating4">
                    <label class="custom-control-label" for="rating4">
                      <span class="d-block text-yellow-darker mt-plus-3">
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="far fa-star font-size-2 "></span>
                      </span>
                    </label>
                  </div>
                  <small class="font-size-2 text-gray-600">15</small>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-2 pb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rating3">
                    <label class="custom-control-label" for="rating3">
                      <span class="d-block text-yellow-darker mt-plus-3">
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="far fa-star font-size-2 mr-1"></span>
                        <span class="far fa-star font-size-2 "></span>
                      </span>
                    </label>
                  </div>
                  <small class="font-size-2 text-gray-600">43</small>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-2 pb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rating2">
                    <label class="custom-control-label" for="rating2">
                      <span class="d-block text-yellow-darker mt-plus-3">
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="far fa-star font-size-2 mr-1"></span>
                        <span class="far fa-star font-size-2 mr-1"></span>
                        <span class="far fa-star font-size-2"></span>
                      </span>
                    </label>
                  </div>
                  <small class="font-size-2 text-gray-600">78</small>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-0">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rating1">
                    <label class="custom-control-label" for="rating1">
                      <span class="d-block text-yellow-darker mt-plus-3">
                        <span class="fas fa-star font-size-2 mr-1"></span>
                        <span class="far fa-star font-size-2 mr-1"></span>
                        <span class="far fa-star font-size-2 mr-1"></span>
                        <span class="far fa-star font-size-2 mr-1"></span>
                        <span class="far fa-star font-size-2"></span>
                      </span>
                    </label>
                  </div>
                  <small class="font-size-2 text-gray-600">21</small>
                </div>
              </div>
            </div>

            <div id="Featuredbooks" class="widget p-4d875 border">
              <div id="widgetHeading25" class="widget-head">
                <a class="d-flex align-items-center justify-content-between text-dark" href="#"
                  data-toggle="collapse"
                  data-target="#widgetCollapse25"
                  aria-expanded="true"
                  aria-controls="widgetCollapse25">

                  <h3 class="widget-title mb-0 font-weight-medium font-size-3">Featured Books</h3>

                  <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                  </svg>

                  <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                  </svg>
                </a>
              </div>

              <div id="widgetCollapse25" class="mt-5 widget-content collapse show"
                aria-labelledby="widgetHeading25"
                data-parent="#widgetAccordion">
                <div class="mb-5">
                  <div class="media d-md-flex">
                    <a class="d-block" href="../shop/single-product-v4.html">
                      <img class="img-fluid" src="https://placehold.it/60x92" alt="Image-Description">
                    </a>
                    <div class="media-body ml-3 pl-1">
                      <h6 class="font-size-2 text-lh-md font-weight-normal">
                        <a href="../shop/single-product-v4.html">Lessons Learned from  15 Years as CEO...</a>
                      </h6>
                      <span class="font-weight-medium">$37</span>
                    </div>
                  </div>
                </div>
                <div class="mb-5">
                  <div class="media d-md-flex">
                    <a class="d-block" href="../shop/single-product-v4.html">
                      <img class="img-fluid" src="https://placehold.it/60x92" alt="Image-Description">
                    </a>
                    <div class="media-body ml-3 pl-1">
                      <h6 class="font-size-2 text-lh-md font-weight-normal">
                        <a href="../shop/single-product-v4.html">Love, Livestock, and Big Life Lessons...</a>
                      </h6>
                      <span class="font-weight-medium">$21</span>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="media d-md-flex">
                    <a class="d-block" href="../shop/single-product-v4.html">
                      <img class="img-fluid" src="https://placehold.it/60x92" alt="Image-Description">
                    </a>
                    <div class="media-body ml-3 pl-1">
                      <h6 class="font-size-2 text-lh-md font-weight-normal">
                        <a href="../shop/single-product-v4.html">Sleeper Cells, Ghost Stories, and Hunt...</a>
                      </h6>
                      <span class="font-weight-medium">$182</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>