<section>
    <main id="content">
        <div class="bg-gray-200 space-bottom-3">
            <div class="container">
                <div class="py-5 py-lg-7">
                    <h6 class="font-weight-medium font-size-9 text-center mt-lg-1">
                        {{'orderReceived' | translate}}
                        <i class="font-size-9 font-weight-medium glyph-icon flaticon-warranty"></i>
                    </h6>
                </div>
                <div class="max-width-890 mx-auto">
                    <div class="bg-white pt-6 border">
                        <h6 class="font-size-3 font-weight-medium text-center mb-4 pb-xl-1">
                            {{'Thankyou.yourOrderHasBeenReceived' | translate}}.</h6>
                        <div class="border-bottom mb-5 pb-5 overflow-auto overflow-md-visible">
                            <div class="pl-3">
                                <table class="table table-borderless mb-0 ml-1">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="font-size-2 font-weight-normal py-0">
                                                {{'orderNumber' | translate}}:</th>
                                            <th scope="col" class="font-size-2 font-weight-normal py-0">
                                                {{'date' | translate}}:</th>
                                            <th scope="col" class="font-size-2 font-weight-normal py-0 text-md-center">
                                                {{'total' | translate}}:</th>
                                            <th scope="col"
                                                class="font-size-2 font-weight-normal py-0 text-md-right pr-md-9">
                                                {{'paymentMethod' | translate}}:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="font-weight-medium py-0">{{order.orderNumber}}</td>
                                            @if(selectLang.userSelectedLanguage === "en"){
                                            <td class="font-weight-medium py-0">{{order.createdAt | date: 'MM/dd/yyyy'}}
                                            </td>
                                            }@else{
                                            <td class="font-weight-medium py-0">{{order.createdAt | date: 'dd.MM.yyyy'}}
                                            </td>
                                            }
                                            @if(order.paymentCurrency === '₺' && calcTotal() < 249){
                                            <td class="font-weight-medium py-0 text-md-center">
                                                {{ (calcTotal() + 24.99 ) | trCurrency }}{{'₺'}}</td>
                                                    
                                            }
                                            @else if(order.paymentCurrency === '₺'){
                                            <td class="font-weight-medium py-0 text-md-center">
                                                {{ calcTotal() | trCurrency }}{{'₺'}}</td>
                                            }
                                            
                                            @if(order.paymentCurrency === '$' && calcTotal() < 19){
                                            <td class="font-weight-medium py-0 text-md-center">
                                                {{order.paymentCurrency}}{{ (calcTotal() + 4.99) | currency: '':'':'1.2-2' }}</td>
                                            }
                                            @else if(order.paymentCurrency === '$'){
                                             <td class="font-weight-medium py-0 text-md-center">
                                                {{'$'}}{{ calcTotal() | currency: '':'':'1.2-2' }}</td>
                                            }
                                            @if(selectLang.userSelectedLanguage === "en"){
                                            <td class="font-weight-medium py-0 text-md-right pr-md-9">
                                                {{order.paymentMethodEn}} - {{order.paymentCurrency === '₺' ? 'TL' :
                                                'USD'}}</td>
                                            }
                                            @else {
                                            <td class="font-weight-medium py-0 text-md-right pr-md-9">
                                                {{order.paymentMethodTr}} - {{order.paymentCurrency === '₺' ? 'TL' :
                                                'USD'}}</td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Order Details -->
                        <div class="border-bottom mb-5 pb-6">
                            <div class="px-3 px-md-4">
                                <div class="ml-md-2">
                                    <h6 class="font-size-3 on-weight-medium mb-4 pb-1">{{'orderDetails' | translate }}
                                    </h6>
                                    @for (b of order.books; track b) {
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="d-flex align-items-baseline">
                                            <div>
                                                <h6 class="font-size-2 font-weight-normal mb-1">{{b.title}} <br>
                                                    {{b.name}} {{b.lastname}}</h6>
                                                <!-- <span class="font-size-2 text-gray-600">({{Paperback, English}})</span> -->
                                                <span class="font-size-2 text-gray-600">({{b.publisher}})</span>
                                            </div>
                                            <span class="font-size-2 ml-4 ml-md-8">x{{b.quantity}}</span>
                                        </div>
                                        @if(b.currency === '₺'){
                                        <span class="font-weight-medium font-size-2">
                                            {{b.price | trCurrency}}{{b.currency}}
                                        </span>
                                        }
                                        @else {
                                        <span class="font-weight-medium font-size-2">
                                            {{b.currency}}{{b.price | currency:'':'':'1.2-2'}}
                                        </span>
                                        }
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- Totals -->
                        <div class="border-bottom mb-5 pb-5">
                            <ul class="list-unstyled px-3 pl-md-5 pr-md-4 mb-0">
                                <li class="d-flex justify-content-between py-2">
                                    <span class="font-weight-medium font-size-2">{{'subtotal' | translate}}:</span>
                                    @if(order.paymentCurrency === '₺'){
                                    <span class="font-weight-medium font-size-2">
                                        {{ calcTotal() | trCurrency }}{{'₺'}}
                                    </span>
                                    }
                                    @else {
                                    <span class="font-weight-medium font-size-2">
                                        {{'$'}}{{ calcTotal() | currency: '':'':'1.2-2' }}</span>
                                    }
                                </li>
                                <li class="d-flex justify-content-between py-2">
                                    <span class="font-weight-medium font-size-2">{{'shipping' | translate}}:</span>
                                    @if(order.paymentCurrency === '₺' && calcTotal() < 249) { <span
                                        class="font-weight-medium font-size-2">
                                        <span>24,99</span>{{order.paymentCurrency }}
                                        </span>
                                        }
                                        @if(order.paymentCurrency === '$' && calcTotal() < 19 ) { <span
                                            class="font-weight-medium font-size-2">
                                            {{order.paymentCurrency}}<span>4.99</span>
                                            </span>
                                            }
                                            @else if((calcTotal() > 249 && order.paymentCurrency === '₺') ||
                                            (calcTotal() > 19 && order.paymentCurrency === '$'))
                                            {
                                            <span class="font-weight-medium font-size-2">{{'freeShipping' |
                                                translate}}
                                            </span>
                                            }
                                </li>
                                <li class="d-flex justify-content-between pt-2">
                                    <span class="font-weight-medium font-size-2">{{'paymentMethod' | translate}}:</span>
                                    <span class="font-weight-medium font-size-2">{{'creditCard' | translate}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="border-bottom pb-4">
                            <div class="px-3 pl-md-5 pr-md-4">
                                <div class="d-flex justify-content-between">
                                    <span class="font-size-2 font-weight-medium">{{'total' | translate}}</span>
                                    @if(order.paymentCurrency === '₺' && calcTotal() < 249){ <span
                                        class="font-weight-medium fon-size-2">
                                        {{ (calcTotal() + 24.99 ) | trCurrency }}{{'₺'}}
                                        </span>
                                        }@else if(order.paymentCurrency === '₺'){
                                        <span class="font-weight-medium fon-size-2">
                                            {{ calcTotal() | trCurrency }}{{'₺'}}
                                        </span>
                                        }

                                        @if(order.paymentCurrency === '$' && calcTotal() < 19){ <span
                                            class="font-weight-medium fon-size-2">
                                            {{'$'}}{{ (calcTotal() + 4.99) | currency: '':'':'1.2-2' }}
                                            </span>
                                            }@else if(order.paymentCurrency === '$'){
                                            <span class="font-weight-medium fon-size-2">
                                                {{'$'}}{{ calcTotal() | currency: '':'':'1.2-2' }}
                                            </span>
                                            }
                                </div>
                            </div>
                        </div>

                        <div class="px-3 py-5 pl-md-5 pr-md-4 mb-6 pb-xl-1">
                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col">
                                    <h6 class="font-weight-medium font-size-22 mb-3">{{'shippingAddress' | translate}}
                                    </h6>
                                    <address class="d-flex flex-column mb-0">
                                        <span
                                            class="text-gray-600 font-size-2">{{payment.shippingAddress.contactName}}</span>
                                        <span class="text-gray-600 font-size-2">{{payment.shippingAddress.description}}
                                        </span>
                                        <span class="text-gray-600 font-size-2">
                                            {{payment.shippingAddress.city}} {{payment.shippingAddress.zipCode}}</span>
                                        <span class="text-gray-600 font-size-2">{{payment.shippingAddress.country}}
                                        </span>
                                    </address>
                                </div>
                                <div class="col">
                                    <div class="mb-6 mb-md-0">
                                        <h6 class="font-weight-medium font-size-22 mb-3">{{'billingAddress' |
                                            translate}}
                                        </h6>
                                        <address class="d-flex flex-column mb-0">
                                            <span
                                                class="text-gray-600 font-size-2">{{payment.billingAddress.contactName}}</span>
                                            <span
                                                class="text-gray-600 font-size-2">{{payment.billingAddress.description}}
                                            </span>
                                            <span class="text-gray-600 font-size-2">
                                                {{payment.billingAddress.city}}
                                                {{payment.billingAddress.zipCode}}</span>
                                            <span class="text-gray-600 font-size-2">{{payment.billingAddress.country}}
                                            </span>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>