<section>
    <main id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 border-right">
                    <h6 class="font-weight-medium font-size-7 pt-5 pt-lg-8  mb-5 mb-lg-7">{{'myAccount' | translate}}
                    </h6>
                    <div class="tab-wrapper">
                        <ul class="my__account-nav nav flex-column mb-0" role="tablist" id="pills-tab">
                            <li class="nav-item mx-0">
                                <a href="/my-account" class="nav-link d-flex align-items-center px-0 active">
                                    <span class="font-weight-normal text-gray-600">{{'dashboard' | translate}}</span>
                                </a>
                            </li>
                            <li class="nav-item mx-0">
                                <a href="/orders" class="nav-link d-flex align-items-center px-0">
                                    <span class="font-weight-normal text-gray-600">{{'orders' | translate}}</span>
                                </a>
                            </li>
                            <li class="nav-item mx-0">
                                <a href="/addresses" class="nav-link d-flex align-items-center px-0">
                                    <span class="font-weight-normal text-gray-600">{{'addresses' | translate}}</span>
                                </a>
                            </li>
                            <li class="nav-item mx-0">
                                <a href="/account-details" class="nav-link d-flex align-items-center px-0">
                                    <span class="font-weight-normal text-gray-600">{{'accountDetails' |
                                        translate}}</span>
                                </a>
                            </li>
                            <li class="nav-item mx-0">
                                <a href="/wishlist" class="nav-link d-flex align-items-center px-0">
                                    <span class="font-weight-normal text-gray-600">{{'wishlist' | translate}}</span>
                                </a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link d-flex align-items-center px-0" (click)="logout()">
                                    <span class="font-weight-normal text-gray-600">{{'logout' | translate}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-one-example1" role="tabpanel"
                            aria-labelledby="pills-one-example1-tab">
                            <div class="pt-5 pt-lg-8 pl-md-5 pl-lg-9 space-bottom-2 space-bottom-lg-3 mb-xl-1">
                                <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">{{'dashboard' |
                                    translate}}</h6>
                                <div class="ml-lg-1 mb-4">
                                    <span class="font-size-22">{{'hello' | translate}} {{auth.user.firstName}} {{auth.user.lastName}}</span>
                                    @if(selectedLang.userSelectedLanguage === 'en'){
                                    <span class="font-size-2"> ({{'not' | translate}} {{auth.token.userName}}?
                                        <a class="link-black-100" (click)="logout()">{{'logout' | translate}}</a>)
                                    </span>
                                    }
                                    @else {
                                    <span class="font-size-2"> ( {{auth.user.userName}} {{'notUser' | translate}}?
                                        <a class="link-black-100" (click)="logout()">{{'userlogout' | translate}}</a>)
                                    </span>
                                    }
                                </div>
                                <div class="mb-4">
                                    <p class="mb-0 font-size-2 ml-lg-1 text-gray-600">
                                        {{'From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details.' | translate}}.
                                    </p>
                                </div>
                                <div class="row no-gutters row-cols-1 row-cols-md-2 row-cols-lg-3">
                                    <div class="col">
                                        <div class="border py-6 text-center">
                                            <a href="/orders" class="btn bg-gray-200 rounded-circle px-4 mb-2">
                                                <span class="flaticon-order font-size-10 btn-icon__inner"></span>
                                            </a>
                                            <div class="font-size-3 mb-xl-1">{{'orders' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="border border-left-0 py-6 text-center">
                                            <a href="/addresses" class="btn bg-gray-200 rounded-circle px-4 mb-2">
                                                <span class="flaticon-place font-size-10 btn-icon__inner"></span>
                                            </a>
                                            <div class="font-size-3 mb-xl-1">{{'addresses' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="border py-6 text-center">
                                            <a href="/account-details" class="btn bg-gray-200 rounded-circle px-4 mb-2">
                                                <span class="flaticon-user-1 font-size-10 btn-icon__inner"></span>
                                            </a>
                                            <div class="font-size-3 mb-xl-1">{{'accountDetails' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="border py-6 text-center">
                                            <a href="/wishlist" class="btn bg-gray-200 rounded-circle px-4 mb-2">
                                                <span class="flaticon-heart font-size-10 btn-icon__inner"></span>
                                            </a>
                                            <div class="font-size-3 mb-xl-1">{{'wishlist' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="border border-left-0 py-6 text-center">
                                            <a (click)="logout()" class="btn bg-gray-200 rounded-circle px-4 mb-2">
                                                <span
                                                    class="flaticon-exit font-size-10 btn-icon__inner"></span>
                                            </a>
                                            <div class="font-size-3 mb-xl-1">{{'logout' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>