<!-- Brand services -->
<div class="site-features border-bottom space-1d625">
    <div class="container">
        <ul class="list-unstyled my-0 list-features d-md-flex align-items-center justify-content-between">
            <li class="list-feature">
                <div class="media d-md-block d-xl-flex text-center text-xl-left pr-lg-5 pr-xl-0">
                    <div class="feature__icon font-size-14 text-primary text-lh-xs mb-md-3 mb-lg-0">
                        <i class="glyph-icon flaticon-delivery"></i>
                    </div>
                    <div class="media-body ml-xl-4">
                        <h4 class="feature__title font-size-3 text-dark">Free Delivery</h4>
                        <p class="feature__subtitle m-0 text-dark">Orders over $100</p>
                    </div>
                </div>
            </li>
            <li class="separator border-xl-left h-fixed-80" aria-hidden="true" role="presentation"></li>
            <li class="list-feature">
                <div class="media  d-md-block d-xl-flex text-center text-xl-left pr-lg-5 pr-xl-0">
                    <div class="feature__icon font-size-14 text-primary text-lh-xs mb-md-3 mb-lg-0">
                        <i class="glyph-icon flaticon-credit"></i>
                    </div>
                    <div class="media-body ml-xl-4">
                        <h4 class="feature__title font-size-3 text-dark">Secure Payment</h4>
                        <p class="feature__subtitle m-0 text-dark">100% Secure Payment</p>
                    </div>
                </div>
            </li>
            <li class="separator border-xl-left h-fixed-80" aria-hidden="true" role="presentation"></li>
            <li class="list-feature">
                <div class="media  d-md-block d-xl-flex text-center text-xl-left pr-lg-5 pr-xl-0">
                    <div class="feature__icon font-size-14 text-primary text-lh-xs mb-md-3 mb-lg-0">
                        <i class="glyph-icon flaticon-warranty"></i>
                    </div>
                    <div class="media-body ml-xl-4">
                        <h4 class="feature__title font-size-3 text-dark">Money Back Guarantee</h4>
                        <p class="feature__subtitle m-0 text-dark">Within 30 Days</p>
                    </div>
                </div>
            </li>
            <li class="separator border-xl-left h-fixed-80" aria-hidden="true" role="presentation"></li>
            <li class="list-feature">
                <div class="media d-md-block d-xl-flex text-center text-xl-left pr-lg-5 pr-xl-0">
                    <div class="feature__icon font-size-14 text-primary text-lh-xs mb-md-3 mb-lg-0">
                        <i class="glyph-icon flaticon-help"></i>
                    </div>
                    <div class="media-body ml-xl-4">
                        <h4 class="feature__title font-size-3 text-dark">24/7 Support</h4>
                        <p class="feature__subtitle m-0 text-dark">Within 1 Business Day</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--End Brand services -->