<!-- Sidebar With Product -->
<section class="sidebar-with-product">
    <div class="space-bottom-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-3">
                <!-- Top Rating -->
                    <h2 class="font-size-26 mb-4">Top Rating</h2>
                    <div class="px-4 pt-4 border mb-5">
                        <div class="media mb-5">
                            <a class="d-block" href="../shop/single-product-v5.html">
                                <img class="img-fluid" src="https://placehold.it/60x90" alt="Image-Description">
                            </a>
                            <div class="media-body ml-3 pl-1">
                                <h6 class="crop-text-2 text-lh-md font-weight-normal">
                                    <a href="../shop/single-product-v5.html">Sold on a Monday: A Novel</a>
                                </h6>
                                <span class="font-weight-medium">$37</span>
                            </div>
                        </div>
                        <div class="media mb-5">
                            <a class="d-block" href="../shop/single-product-v5.html">
                                <img class="img-fluid" src="https://placehold.it/60x90" alt="Image-Description">
                            </a>
                            <div class="media-body ml-3 pl-1">
                                <h6 class="crop-text-2 text-lh-md font-weight-normal">
                                    <a href="../shop/single-product-v5.html">The Dancing Girls: An absolutely
                                        gripping</a>
                                </h6>
                                <span class="font-weight-medium">$37</span>
                            </div>
                        </div>
                        <div class="media mb-5">
                            <a class="d-block" href="../shop/single-product-v5.html">
                                <img class="img-fluid" src="https://placehold.it/60x90" alt="Image-Description">
                            </a>
                            <div class="media-body ml-3 pl-1">
                                <h6 class="crop-text-2 text-lh-md font-weight-normal">
                                    <a href="../shop/single-product-v5.html">Lessons Learned from 15 Years as CEO...</a>
                                </h6>
                                <span class="font-weight-medium">$37</span>
                            </div>
                        </div>
                        <div class="media mb-5">
                            <a class="d-block" href="../shop/single-product-v5.html">
                                <img class="img-fluid" src="https://placehold.it/60x90" alt="Image-Description">
                            </a>
                            <div class="media-body ml-3 pl-1">
                                <h6 class="crop-text-2 text-lh-md font-weight-normal">
                                    <a href="../shop/single-product-v5.html">All the Light We Cannot See: A Novel</a>
                                </h6>
                                <span class="font-weight-medium">$37</span>
                            </div>
                        </div>
                        <div class="media mb-5">
                            <a class="d-block" href="../shop/single-product-v5.html">
                                <img class="img-fluid" src="https://placehold.it/60x90" alt="Image-Description">
                            </a>
                            <div class="media-body ml-3 pl-1">
                                <h6 class="crop-text-2 text-lh-md font-weight-normal">
                                    <a href="../shop/single-product-v5.html">The Guardians: A Novel</a>
                                </h6>
                                <span class="font-weight-medium">$37</span>
                            </div>
                        </div>
                    </div>
                <!-- End Top Rating -->
                
                <!-- Favourite Authors -->
                    <h2 class="font-size-26 mb-4">Favourite Authors</h2>
                    <div class="px-4 pt-4 border mb-5">
                        <div class="media mb-6 align-items-center">
                            <a class="d-block" href="../others/authors-single.html">
                                <img class="img-fluid rounded-circle" src="https://placehold.it/80x80"
                                    alt="Image-Description">
                            </a>
                            <div class="media-body ml-3 pl-1">
                                <h6 class="crop-text-2 text-lh-md font-weight-normal mb-0">
                                    <a href="../others/authors-single.html">Barbara O'Neal</a>
                                </h6>
                                <span class="text-secondary-gray-700 font-size-2">21,658 Published Books</span>
                            </div>
                        </div>
                        <div class="media mb-6 align-items-center">
                            <a class="d-block" href="../others/authors-single.html">
                                <img class="img-fluid rounded-circle" src="https://placehold.it/80x80"
                                    alt="Image-Description">
                            </a>
                            <div class="media-body ml-3 pl-1">
                                <h6 class="crop-text-2 text-lh-md font-weight-normal mb-0">
                                    <a href="../others/authors-single.html">Stephen King</a>
                                </h6>
                                <span class="text-secondary-gray-700 font-size-2">21,658 Published Books</span>
                            </div>
                        </div>
                        <div class="media mb-6 align-items-center">
                            <a class="d-block" href="../others/authors-single.html">
                                <img class="img-fluid rounded-circle" src="https://placehold.it/80x80"
                                    alt="Image-Description">
                            </a>
                            <div class="media-body ml-3 pl-1">
                                <h6 class="crop-text-2 text-lh-md font-weight-normal mb-0">
                                    <a href="../others/authors-single.html">David Walliams</a>
                                </h6>
                                <span class="text-secondary-gray-700 font-size-2">21,658 Published Books</span>
                            </div>
                        </div>
                        <div class="media mb-6 align-items-center">
                            <a class="d-block" href="../others/authors-single.html">
                                <img class="img-fluid rounded-circle" src="https://placehold.it/80x80"
                                    alt="Image-Description">
                            </a>
                            <div class="media-body ml-3 pl-1">
                                <h6 class="crop-text-2 text-lh-md font-weight-normal mb-0">
                                    <a href="../others/authors-single.html">Joe Wicks</a>
                                </h6>
                                <span class="text-secondary-gray-700 font-size-2">21,658 Published Books</span>
                            </div>
                        </div>
                        <div class="media mb-6 align-items-center">
                            <a class="d-block" href="../others/authors-single.html">
                                <img class="img-fluid rounded-circle" src="https://placehold.it/80x80"
                                    alt="Image-Description">
                            </a>
                            <div class="media-body ml-3 pl-1">
                                <h6 class="crop-text-2 text-lh-md font-weight-normal mb-0">
                                    <a href="../others/authors-single.html">Jessica Simpson</a>
                                </h6>
                                <span class="text-secondary-gray-700 font-size-2">21,658 Published Books</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Favourite Authors -->

                <!-- Featured Books -->
                <div class="col-lg-8 col-xl-9">
                    <h2 class="font-size-26 mb-4">Featured Books</h2>
                    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-3 row-cols-wd-4 products">
                        <div class="col mb-5">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Paperback</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">Think Like a Monk: Train Your
                                                    Mind for Peace and Purpose Everyday</a></h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Jay
                                                    Shetty</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Kindle Edition</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">The Overdue Life of Amy
                                                    Byler</a></h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Kelly
                                                    Harms</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Paperback</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">Man's Search for Meaning</a>
                                            </h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Jay
                                                    Shetty</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Kindle Edition</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">Camino Windss</a></h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Kelly
                                                    Harms</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Paperback</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">Call Me By Your Name</a></h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Jay
                                                    Shetty</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Kindle Edition</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">Scot Under the Covers: The Wild
                                                    Wicked...</a></h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Kelly
                                                    Harms</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Paperback</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">Man's Search for Meaning</a>
                                            </h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Jay
                                                    Shetty</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Kindle Edition</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">Camino Windss</a></h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Kelly
                                                    Harms</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Paperback</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">Call Me By Your Name</a></h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Jay
                                                    Shetty</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5 d-lg-none d-wd-block">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Kindle Edition</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">The Overdue Life of Amy
                                                    Byler</a></h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Kelly
                                                    Harms</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5 d-lg-none d-wd-block">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Paperback</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">Where the Crawdads Sing</a>
                                            </h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Jay
                                                    Shetty</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5 d-lg-none d-wd-block">
                            <div class="product border product__space bg-white">
                                <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                    <div
                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                        <div class="woocommerce-loop-product__thumbnail">
                                            <a href="../shop/single-product-v5.html" class="d-block"><img
                                                    src="https://placehold.it/150x225"
                                                    class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                    alt="image-description"></a>
                                        </div>
                                        <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                                    href="../shop/single-product-v5.html">Kindle Edition</a></div>
                                            <h2
                                                class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                <a href="../shop/single-product-v5.html">Beneath a Scarlet Sky: A
                                                    Novel</a></h2>
                                            <div class="font-size-2  mb-1 text-truncate"><a
                                                    href="../others/authors-single.html" class="text-gray-700">Kelly
                                                    Harms</a></div>
                                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                <span class="woocommerce-Price-amount amount"><span
                                                        class="woocommerce-Price-currencySymbol">$</span>29</span>
                                            </div>
                                        </div>
                                        <div class="product__hover d-flex align-items-center">
                                            <a href="../shop/single-product-v5.html"
                                                class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                <span class="product__add-to-cart">ADD TO CART</span>
                                                <span class="product__add-to-cart-icon font-size-4"><i
                                                        class="flaticon-icon-126515"></i></span>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-switch"></i>
                                            </a>
                                            <a href="../shop/single-product-v5.html"
                                                class="h-p-bg btn btn-outline-primary border-0">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Featured Books -->
            </div>
        </div>
    </div>
</section>
<!-- End Sidebar With Product -->