<section>
    <main id="content">
        <div class="container">
            <div class="space-bottom-1 space-bottom-lg-2 space-bottom-xl-3">
                <div class="pb-lg-4">
                    <div class="py-4 py-lg-5 py-xl-8">
                        <h6 class="font-weight-medium font-size-7 font-size-xs-25 text-center">Terms and Conditions</h6>
                    </div>
                    <div class="mb-5 mb-lg-8">
                        <h6 class="font-weight-medium font-size-4 mb-4 pb-1">Intellectual Propertly</h6>
                        <ol class="list-unstyled mb-0">
                            <li class="font-size-2 mb-3 mb-lg-1">1- Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Etiam quis diam erat. Duis velit lectus, posuere a blandit sit amet, tempor at
                                lorem. Donec ultricies, lorem sed ultrices interdum.</li>
                            <li class="font-size-2 mb-3 mb-lg-1">2- Leo metus luctus sem, vel vulputate diam ipsum sed
                                lorem. Donec tempor arcu nisl, et molestie massa scelerisque ut. Nunc at rutrum leo.
                                Mauris metus mauris, tristique quis sapien eu, rutrum vulputate enim.</li>
                            <li class="font-size-2 mb-3 mb-lg-1">3- Mauris tempus erat laoreet turpis lobortis, eu
                                tincidunt erat fermentum.</li>
                            <li class="font-size-2 mb-3 mb-lg-1">4- Aliquam non tincidunt urna. Integer tincidunt nec
                                nisl vitae ullamcorper. Proin sed ultrices erat. Praesent varius ultrices massa at
                                faucibus.</li>
                            <li class="font-size-2 mb-3 mb-lg-1">5- Aenean dignissim, orci sed faucibus pharetra, dui mi
                                dignissim tortor, sit amet condimentum mi ligula sit amet augue.</li>
                            <li class="font-size-2 mb-0">6- Pellentesque vitae eros eget enim mollis placerat.</li>
                        </ol>
                    </div>
                    <div class="mb-5 mb-lg-9">
                        <h6 class="font-weight-medium font-size-4 mb-4 pb-1">Termination</h6>
                        <ol class="list-unstyled mb-0">
                            <li class="font-size-2 mb-3 mb-lg-1">1- Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Etiam quis diam erat. Duis velit lectus, posuere a blandit sit amet, tempor at
                                lorem. Donec ultricies, lorem sed ultrices interdum.</li>
                            <li class="font-size-2 mb-3 mb-lg-1">2- Leo metus luctus sem, vel vulputate diam ipsum sed
                                lorem. Donec tempor arcu nisl, et molestie massa scelerisque ut. Nunc at rutrum leo.
                                Mauris metus mauris, tristique quis sapien eu, rutrum vulputate enim.</li>
                            <li class="font-size-2 mb-3 mb-lg-1">3- Mauris tempus erat laoreet turpis lobortis, eu
                                tincidunt erat fermentum.</li>
                            <li class="font-size-2 mb-3 mb-lg-1">4- Aliquam non tincidunt urna. Integer tincidunt nec
                                nisl vitae ullamcorper. Proin sed ultrices erat. Praesent varius ultrices massa at
                                faucibus.</li>
                            <li class="font-size-2 mb-3 mb-lg-1">5- Aenean dignissim, orci sed faucibus pharetra, dui mi
                                dignissim tortor, sit amet condimentum mi ligula sit amet augue.</li>
                            <li class="font-size-2 mb-0">6- Pellentesque vitae eros eget enim mollis placerat.</li>
                        </ol>
                    </div>
                    <div class="mb-5 mb-lg-10">
                        <h6 class="font-weight-medium font-size-4 mb-4 pb-1">Changes To This Agreement</h6>
                        <p class="font-size-2 mb-0">We reserve the right, at our sole discretion, to modify or replace
                            these Terms and Conditions by posting the updated terms on the Site. Your continued use of
                            the Site after any such changes constitutes your acceptance of the new Terms and Conditions.
                        </p>
                    </div>
                    <div>
                        <h6 class="font-weight-medium font-size-4 mb-4 pb-1">Hyperlinks</h6>
                        <p class="font-size-2 mb-0 text-lh-1dot72">Our website may contain hyperlinks. These hyperlinks
                            connect you to sites of other organisations which are not our responsibility. We have used
                            our reasonable endeavours in preparing our own website and the information included in it is
                            done so in good faith. However, we have no control over any of the information you can
                            access via other websites. Therefore, no mention of any organisation, company or individual
                            to which our website is linked shall imply any approval or warranty as to the standing and
                            capability of any such organisations, company or individual on the part of The Book
                            Depository.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>