<!-- Topbar -->
<div class="topbar border-bottom d-none d-md-block bg-dark">
    <div class="container-fluid px-2 px-md-5 px-xl-8d75">
        <div class="topbar__nav d-lg-flex justify-content-between align-items-center font-size-2">
            <ul class="topbar__nav--left nav ml-lg-n3">
                <li class="nav-item"><a routerLink="/contact-us" class="nav-link text-white"><i
                            class="font-size-3 glph-icon flaticon-help mr-2"></i>{{'contactUs' | translate}}</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white"><i
                            class="font-size-3 glph-icon flaticon-phone mr-2"></i>+1 234-567-8901</a></li>
            </ul>
            <ul class="topbar__nav--right nav">
                <li class="nav-item"><a routerLink="/about-us"
                        class="nav-link py-2 px-3 text-white d-flex align-items-center"><i
                            class="glyph-icon flaticon-warranty mr-2 font-size-3"></i>{{'aboutUs' | translate}}</a></li>
                <li class="nav-item"><a routerLink="/shop-order-tracking"
                        class="nav-link py-2 px-3 text-white d-flex align-items-center"><i
                            class="glph-icon flaticon-sent mr-2 font-size-3"></i>{{'trackYourOrder' | translate}}</a>
                </li>
                <!-- <li class="nav-item">
                    <div class="position-relative h-100">
                        <a id="basicDropdownHoverInvoker"
                            class="d-flex align-items-center h-100 dropdown-nav-link py-2 px-3 dropdown-toggle nav-link text-white"
                            href="javascript:;" role="button" aria-controls="basicDropdownHover" aria-haspopup="true"
                            aria-expanded="false" data-unfold-event="hover" data-unfold-target="#basicDropdownHover"
                            data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300"
                            data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp"
                            data-unfold-animation-out="fadeOut">
                            USD <i class=""></i>
                        </a>

                        <div id="basicDropdownHover" class="dropdown-menu dropdown-unfold right-0 left-auto"
                            aria-labelledby="basicDropdownHoverInvoker">
                            <a class="dropdown-item active" href="#">USD</a>
                            <a class="dropdown-item" href="#">TL</a>

                        </div>
                    </div>
                </li> -->
                <li class="nav-item">
                    <div class="position-relative h-100">
                        <a id="basicDropdownHoverInvoker1"
                            class="d-flex align-items-center h-100 dropdown-nav-link py-2 px-3 dropdown-toggle nav-link text-white"
                            href="javascript:;" role="button" aria-controls="basicDropdownHover1" aria-haspopup="true"
                            aria-expanded="false" data-unfold-event="hover" data-unfold-target="#basicDropdownHover1"
                            data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300"
                            data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp"
                            data-unfold-animation-out="fadeOut">
                            @if(selectLang.userSelectedLanguage === 'tr'){
                                {{'turkish' | translate}} <i class=""></i>
                            }@else{
                                {{'english' | translate}} <i class=""></i>
                            }
                        </a>

                        <div id="basicDropdownHover1" class="dropdown-menu dropdown-unfold right-0 left-auto"
                            aria-labelledby="basicDropdownHoverInvoker1">
                            <a class="dropdown-item" (click)="switchLanguage('en')">{{'english' | translate}}</a>
                            <a class="dropdown-item" (click)="switchLanguage('tr')">{{'turkish' | translate}}</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Topbar -->