<div class="container">
    <div class="row">
        <div class="col-md-3 border-right">
            <h6 class="font-weight-medium font-size-7 pt-5 pt-lg-8  mb-5 mb-lg-7">{{'myAccount' | translate}}
            </h6>
            <div class="tab-wrapper">
                <ul class="my__account-nav nav flex-column mb-0" role="tablist" id="pills-tab">
                    <li class="nav-item mx-0">
                        <a href="/my-account" class="nav-link d-flex align-items-center px-0 active">
                            <span class="font-weight-normal text-gray-600">{{'dashboard' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item mx-0">
                        <a href="/orders" class="nav-link d-flex align-items-center px-0">
                            <span class="font-weight-normal text-gray-600">{{'orders' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item mx-0">
                        <a href="/addresses" class="nav-link d-flex align-items-center px-0">
                            <span class="font-weight-normal text-gray-600">{{'addresses' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item mx-0">
                        <a href="/account-details" class="nav-link d-flex align-items-center px-0">
                            <span class="font-weight-normal text-gray-600">{{'accountDetails' |
                                translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item mx-0">
                        <a href="/wishlist" class="nav-link d-flex align-items-center px-0">
                            <span class="font-weight-normal text-gray-600">{{'wishlist' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item mx-0">
                        <a class="nav-link d-flex align-items-center px-0" (click)="logout()">
                            <span class="font-weight-normal text-gray-600">{{'logout' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        @if(orders.length > 0){
            <div class="col-md-9">
                <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9 space-bottom-lg-2 mb-lg-4">
                    <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">{{'orders' |
                        translate}}</h6>
                    <table class="table">
                        <thead>
                            <tr class="border">
                                <th scope="col" class="py-3 border-bottom-0 font-weight-medium pl-3 pl-lg-5">{{'orders'
                                    | translate}}</th>
                                <th scope="col" class="py-3 border-bottom-0 font-weight-medium">{{'date' |
                                    translate}}</th>
                                <th scope="col" class="py-3 border-bottom-0 font-weight-medium">{{'staus' |
                                    translate}}</th>
                                <th scope="col" class="py-3 border-bottom-0 font-weight-medium">{{'total' |
                                    translate}}</th>
                                <th scope="col" class="py-3 border-bottom-0 font-weight-medium">{{'actions'
                                    | translate}}</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr class="border" *ngFor="let o of orders let i = index">
                                <th class="pl-3 pl-md-5 font-weight-normal align-middle py-6">{{o.orderNumber}}</th>
                                @if(selectedLang.userSelectedLanguage === "en"){
                                    <td class="align-middle py-5">{{o.paymentDate | date: 'MM/dd/yyyy HH:mm'}}</td>
                                }@else{
                                    <td class="align-middle py-5">{{o.paymentDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                                }
                                @if(selectedLang.userSelectedLanguage === "en"){
                                    <td class="align-middle py-5">{{o.statusEn}}</td>
                                }@else {
                                    <td class="align-middle py-5">{{o.statusTr}}</td>
                                }
                                @if(selectedLang.userSelectedLanguage === "en"){
                                    <td class="align-middle py-5">
                                        @if(shopping.selectedCurrency === '$'){
                                            <span>{{o.price.currency}}{{o.price.value * o.quantity | currency: '':'':'1.2-2'}}</span> 
                                        }@else {
                                            <span>{{o.price.value * o.quantity | trCurrency}}{{o.price.currency}}</span>   
                                        }
                                        for {{o.quantity}} items
                                    </td>
                                }
                                @else {
                                    <td class="align-middle py-5">
                                        {{o.quantity}} adet ürün için 
                                        @if(shopping.selectedCurrency === '$'){
                                            <span>{{o.price.currency}}{{o.price.value * o.quantity | currency: '':'':'1.2-2'}}</span> 
                                        }@else {
                                            <span>{{o.price.value * o.quantity | trCurrency }}{{o.price.currency}}</span> 
                                        }
                                    </td>
                                }
                                <td class="align-middle py-5">
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" 
                                            class="btn btn-dark rounded-0 btn-wide font-weight-medium">
                                            <a href="/order-received" style="color: white;">{{'view' | translate}}</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>     
        }
        @else {
            <div class="col-md-9">
                <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9 space-bottom-lg-2 mb-lg-4">
                    <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">
                        {{'No order has ever been placed.' | translate}}</h6>
                </div>
            </div>
        }
    </div>
</div>