<!-- Biographies Books -->
<section>
    <div class="bg-gray-200 space-top-2 space-bottom-3 space-top-lg-3 space-bottom-lg-4">
        <div class="container">
            <header class="mb-5 d-md-flex justify-content-between align-items-center">
                <h2 class="font-size-7 mb-3 mb-md-0">Biographies Books</h2>
                <a href="../shop/v5.html" class="h-primary d-block">View All <i
                        class="glyph-icon flaticon-next"></i></a>
            </header>
            <div class="js-slick-carousel u-slick u-slick--gutters-3 products"
                data-pagi-classes="text-center u-slick__pagination mt-7 position-absolute right-0 left-0"
                data-slides-show="3" data-responsive='[{
                       "breakpoint": 1199,
                       "settings": {
                         "slidesToShow": 2
                       }
                    }, {
                       "breakpoint": 992,
                       "settings": {
                         "slidesToShow": 1
                       }
                    }, {
                       "breakpoint": 554,
                       "settings": {
                         "slidesToShow": 1
                       }
                    }]'>
                <div class="product product__card border-0">
                    <div class="media p-3 p-md-4d875 bg-white border">
                        <a href="../shop/single-product-v5.html" class="d-block"><img src="https://placehold.it/120x183"
                                alt="image-description"></a>
                        <div class="media-body ml-4d875">
                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                    href="../shop/single-product-v5.html">Hard Cover</a></div>
                            <h2
                                class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                <a href="../shop/single-product-v5.html">The Rural Diaries: Love, Livestock, and Big
                                    Life Lessons Down on Mischief Farm</a></h2>
                            <div class="font-size-2 mb-1 text-truncate"><a href="../others/authors-single.html"
                                    class="text-gray-700">Hillary Burton</a></div>
                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>15</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product product__card border-0">
                    <div class="media p-3 p-md-4d875 bg-white border">
                        <a href="../shop/single-product-v5.html" class="d-block"><img src="https://placehold.it/120x183"
                                alt="image-description"></a>
                        <div class="media-body ml-4d875">
                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                    href="../shop/single-product-v5.html">Hard Cover</a></div>
                            <h2
                                class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                <a href="../shop/single-product-v5.html">The Ride of a Lifetime: Lessons Learned from 15
                                    Years as CEO...</a></h2>
                            <div class="font-size-2 mb-1 text-truncate"><a href="../others/authors-single.html"
                                    class="text-gray-700">Hillary Burton</a></div>
                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>15</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product product__card border-0">
                    <div class="media p-3 p-md-4d875 bg-white border">
                        <a href="../shop/single-product-v5.html" class="d-block"><img src="https://placehold.it/120x183"
                                alt="image-description"></a>
                        <div class="media-body ml-4d875">
                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                    href="../shop/single-product-v5.html">Hard Cover</a></div>
                            <h2
                                class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                <a href="../shop/single-product-v5.html">Russians Among Us: Sleeper Cells, Ghost
                                    Stories, and the Hunt...</a></h2>
                            <div class="font-size-2 mb-1 text-truncate"><a href="../others/authors-single.html"
                                    class="text-gray-700">Hillary Burton</a></div>
                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>15</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product product__card border-0">
                    <div class="media p-3 p-md-4d875 bg-white border">
                        <a href="../shop/single-product-v5.html" class="d-block"><img src="https://placehold.it/120x183"
                                alt="image-description"></a>
                        <div class="media-body ml-4d875">
                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                    href="../shop/single-product-v5.html">Hard Cover</a></div>
                            <h2
                                class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                <a href="../shop/single-product-v5.html">The Rural Diaries: Love, Livestock, and Big
                                    Life Lessons Down on Mischief Farm</a></h2>
                            <div class="font-size-2 mb-1 text-truncate"><a href="../others/authors-single.html"
                                    class="text-gray-700">Hillary Burton</a></div>
                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>15</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product product__card border-0">
                    <div class="media p-3 p-md-4d875 bg-white border">
                        <a href="../shop/single-product-v5.html" class="d-block"><img src="https://placehold.it/120x183"
                                alt="image-description"></a>
                        <div class="media-body ml-4d875">
                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                    href="../shop/single-product-v5.html">Hard Cover</a></div>
                            <h2
                                class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                <a href="../shop/single-product-v5.html">The Ride of a Lifetime: Lessons Learned from 15
                                    Years as CEO...</a></h2>
                            <div class="font-size-2 mb-1 text-truncate"><a href="../others/authors-single.html"
                                    class="text-gray-700">Hillary Burton</a></div>
                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>15</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product product__card border-0">
                    <div class="media p-3 p-md-4d875 bg-white border">
                        <a href="../shop/single-product-v5.html" class="d-block"><img src="https://placehold.it/120x183"
                                alt="image-description"></a>
                        <div class="media-body ml-4d875">
                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                    href="../shop/single-product-v5.html">Hard Cover</a></div>
                            <h2
                                class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                <a href="../shop/single-product-v5.html">Russians Among Us: Sleeper Cells, Ghost
                                    Stories, and the Hunt...</a></h2>
                            <div class="font-size-2 mb-1 text-truncate"><a href="../others/authors-single.html"
                                    class="text-gray-700">Hillary Burton</a></div>
                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>15</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product product__card border-0">
                    <div class="media p-3 p-md-4d875 bg-white border">
                        <a href="../shop/single-product-v5.html" class="d-block"><img src="https://placehold.it/120x183"
                                alt="image-description"></a>
                        <div class="media-body ml-4d875">
                            <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                                    href="../shop/single-product-v5.html">Hard Cover</a></div>
                            <h2
                                class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                <a href="../shop/single-product-v5.html">The Rural Diaries: Love, Livestock, and Big
                                    Life Lessons Down on Mischief Farm</a></h2>
                            <div class="font-size-2 mb-1 text-truncate"><a href="../others/authors-single.html"
                                    class="text-gray-700">Hillary Burton</a></div>
                            <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>15</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Biographies Books -->